.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1140px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  margin: 20px;
  right: 5%;
  position: fixed;
}
